@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

.box {
  background: rgb(89, 223, 160);
}
